.section4 {
  background-color: #f0e7e0;
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 60px;
}

.section4-container {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  .section4-text {
   
    font-family: Mobilo;
    font-size: 16px;
    line-height: 1.56;
    color: #505050;
  }
}

.section4-headline {
  font-family: Mobilo;
  font-size: 20px;
  color: #00587a;
}

.section4-image {
  img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

@include respond-min(mid) {
  .section4-container {
    flex-wrap: nowrap;
  }
  .section4-image img {
    max-width: 80%;
    width: 80%;
    float: right;
  }
  .section4-text {
    width: 80%;
  }
}

@include respond-min(wide) {
  .section4 {
    padding: 70px 0 10px 0;
  }
  .section4-container {
    width: 80%;
  }
  .section4-text {
    width: 40%;
  }
}


