$font-size-base           : 16;
$font-size-base-px        : $font-size-base * 1px;

$font-family-sans         : "Mobilo", Helvetica, Arial, sans-serif;
$font-family-serif        : Georgia, "Times New Roman", Times, serif;
$font-family-mono         : Menlo, Monaco, "Courier New", monospace;

$font-family-base         : $font-family-sans;
$font-family-alt          : $font-family-serif;

$mq-base: $font-size-base;
$breakpoints: (
	
	mid                     : 768px,
	large					: 1024,
	wide                    : 1440px,
	huge                    : 1680px
);
